# =========================
# Angular / Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

# =========================
# Java / Spring Boot / Backend
# =========================
backend/target/
backend/*.log

# =========================
# IDEs
# =========================
.idea/
*.iml
.vscode/

# =========================
# Variables de entorno
# =========================
.env
*.env
backend/.env
frontend/.env
backend/src/main/resources/application-local.properties

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs y temporales
# =========================
*.log
tmp/
temp/